/*
!.gitignore
!README.org
!README.png
!git
!doom
!gtk-3.0/settings.ini
!transmission/settings.json
# Have to first unignore the directory as it is ignored by default
!guix
# Then ignore everything inside it
guix/*
# Except the specified items:
!guix/devbox
!guix/channels.scm
!guix/packages
#!guix/*.scm
#!guix/noname/
!npm
npm/*
!npm/npmrc
