/*
!.gitignore
!README.org
!git
!doom
!gtk-3.0/settings.ini
!transmission/settings.json
# Have to first unignore the directory as it is ignored by default
!guix
# Then ignore everything inside it
guix/*
# Except the specified items:
!guix/devbox
!guix/channels.scm
#!guix/*.scm
#!guix/noname/
